<div class="col-sm-4 col-lg-4 col-md-4">
  <div class="thumbnail">
    <img src="http://lorempixel.com/320/150/<%= ['technics', 'transport', 'business', 'city', 'nature'].sample %>" alt="">
    <div class="caption">
      <h4 class="pull-right"><%= number_to_currency(product.price, unit: 'грн.', format: '%n %u', separator: ',') %></h4>
      <h4><a href="#"><%= link_to product.name, product_path(product) %></a>
      </h4>
      <p><%= truncate(product.description, length: 25){ link_to '...Fool description', product_path(product) } %></p>
    </div>
    <div class="ratings">
      <p class="pull-right"><%= pluralize(product.reviews.list_of_published_only.count, 'review') %></p>
      <p>
        <% total_rating = 0 %>
        <% product.reviews.list_of_published_only.each do |view| %>
          <% total_rating += view.rating %>
        <% end %>
        
        <% begin  %>
          <% average_rating = total_rating/product.reviews.list_of_published_only.count %>
        <% rescue ZeroDivisionError %>
          <% average_rating = 0 %>
        <% end %>

        <% average_rating.times do %>
            <span class="glyphicon glyphicon-star"></span>
        <% end %>
        
        <% (5-average_rating).times do %>
            <span class="glyphicon glyphicon-star-empty"></span>
        <% end %>
      </p>
    </div>
  </div>
</div>