<div class="col-md-9">

  <div class="thumbnail">
    <img class="img-responsive" src="http://lorempixel.com/800/300/technics" alt="">
    <div class="caption-full">
      <h4 class="pull-right"><%= number_to_currency(@product.price, unit: 'грн.', format: '%n %u', separator: ',') %></h4>
      <h4><a href="#"><%= @product.name %></a></h4>

      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">description</a></li>
        <li><a data-toggle="tab" href="#menu1">specifications</a></li>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <h3>description</h3>
          <p><%= @product.description %></p>
        </div>

        <div id="menu1" class="tab-pane fade">
          <h3>specifications</h3>
          <p>
            <% @product.feature_values.each do |feature_value| %>
                <b><%= feature_value.feature.title %>:</b>  - <%= feature_value.title %> <br>
            <% end %>
          </p>
        </div>
      </div>

    </div>
    <span id="for_notice">
    </span>
    <div class="text-right"><%= button_to 'Add to cart', order_products_path(product_id: @product),class: "btn btn-danger", remote: true %></div>

    <br>
    <div class="ratings">
      <p class="pull-right"><%= pluralize(@product.reviews.list_of_published_only.count, 'review') %></p>
      <p>
        <% total_rating = 0 %>
        <% @product.reviews.each do |view| %>
            <% total_rating += view.rating %>
        <% end %>
        
        <% begin  %>
          <% average_rating = total_rating/@product.reviews.list_of_published_only.count %>
        <% rescue ZeroDivisionError %>
          <% average_rating = 0 %>
        <% end %>
        
        

        <% average_rating.times do %>
            <span class="glyphicon glyphicon-star"></span>
        <% end %>
        <% (5-average_rating).times do %>
            <span class="glyphicon glyphicon-star-empty"></span>
        <% end %>
        <%= pluralize(average_rating, 'star') %>
      </p>
    </div>
  </div>
  <div class="well">
    <div class="text-right">
      <%= link_to 'Leave a Review', new_review_path,class: 'btn btn-success', remote: true %>
    </div>

    <div class="new_review">
      <%= render 'reviews/form', review: @review, product: @product %>
    </div>
    <% @product.reviews.list_of_published_only.each do |review| %>
        <%= render 'products/review', review: review %>
    <% end %>

  </div>
</div>