<div class="col-md-9">

  <div class="thumbnail">
    <img class="img-responsive" src="http://placehold.it/800x300" alt="">
    <div class="caption-full">
      <h4 class="pull-right"><%= number_to_currency(@product.price, unit: 'грн.', format: '%n %u', separator: ',') %></h4>
      <h4><a href="#"><%= @product.name %></a>
      </h4>
      <p>See more snippets like these online store reviews at <a target="_blank" href="http://bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
      <p>Want to make these reviews work? Check out
        <strong><a href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this building a review system tutorial</a>
        </strong>over at maxoffsky.com!</p>
      <p><%= @product.description %></p>
    </div>
    <div class="ratings">
      <p class="pull-right"><%= pluralize(@product.reviews.all.count, 'review') %></p>
      <p>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        4.0 stars
      </p>
    </div>
  </div>

  <div class="well">

    <div class="text-right">
      <a class="btn btn-success">Leave a Review</a>
    </div>

    <% @product.reviews.all.each do |review| %>
        <%= render 'products/review', review: review %>
    <% end %>

  </div>
</div>