<!DOCTYPE html>
<html>
  <head>
    <title>Myshop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <!-- Page Content -->
    <div class="container for_notice">
        <% if notice %>
          <div class="alert alert-success">
            <%= notice %>
          </div>
        <% end %>
      <div class="row">
        <div class="col-md-3">
          <div class="list-group">
            <%= nested_category(@category.arrange(order: :name)) %>
          </div>
        </div>

        <%= yield %>

      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
