<!DOCTYPE html>
<html>
  <head>
    <title>Myshop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <table class="table">
      <tr><td>head - logo of magazin and etc</td></tr>
      <tr>
        <td>left panel</td>
        <td><%= yield %></td>
      </tr>
      <tr><td>footer</td></tr>
    </table>
  </body>
</html>
